<body class="f-small p">
	<div id="container">
		<div id="contents">
			<!--/#menubar-->
			<main>
				<section>
					<h2>都道府県で探す</h2>
					<%= form_with model: @law_office, url: law_offices_search_path, method: :get, class: "form", html: {multipart: true} ,local: true do |f| %>
						<div class="selection-form">
							<%= f.select :prefectures,
								['北海道',
								'青森県','岩手県','宮城県','秋田県','山形県','福島県',
								'茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','山梨県','長野県',
								'新潟県','富山県','石川県','福井県',
								'岐阜県','静岡県','愛知県','三重県',
								'滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県',
								'鳥取県','島根県','岡山県','広島県','山口県',
								'徳島県','香川県','愛媛県','高知県',
								'福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県',
								'沖縄県'
								], {}, class: "select"
							%>
							<%= f.submit "検索", class: "actions" %>
						</div>
					<% end %>
				</section>
				<section>
					<h2>分野から探す</h2>
				</section>
			</main>
		</div>
	<!--/#footermenu-->
		<footer>
			<small>Copyright&copy; <a href="index.html">東京九州市役所</a> All Rights Reserved.</small>
			<span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
		</footer>
		<!--ページの上部へ戻るボタン-->
		<div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>
	</div>
	<!--/#container-->
	<!--jQueryの読み込み-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
