.sign-up {
  text-align: center;
  
  li {
    list-style: none;
  }
}

.sign-up-button {
  margin-top: 20px;
}

.log-in {
  text-align: center;
  
  li {
    list-style: none;
  }
}

.log-in-button {
  text-align: center;
  margin-top: 10px;
}

.link {
  text-align: center;
  margin-top: 20px;
}
