// Place all the styles related to the law_offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map { height: 500px;
  width: 50%;
  margin-top: 30px;}
a { color: blue;
text-decoration: none;}

h1 {
  text-align: center;
}

.center-table {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.law-offices {
  width: 70%;
  border-collapse: collapse;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-left: 5px solid #333;
  text-align: center;

  @media screen and (max-width: 599px) {
    width: 100%; // 画面の幅が599px以下の場合の幅
  }

  th,
  td {
    padding: 16px;
    font-weight: normal;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  th {
    background-color: #CDEAFF;
  }

  td {
    background-color: #fbf9f9;
  }
}

@media screen and (max-width: 599px) {
  .law-offices {
    th, td {
      display: block;
      text-align: center;
    }
  }
}

.bottom {
  border-bottom: 5px solid #333;
}
