// Place all the styles related to the law_offices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#map { height: 500px;
  width: 50%;
  margin-top: 30px;}
a { color: blue;
text-decoration: none;}
