<header>
  <!--ロゴ-->
  <h1 id="logo">
    <a href="index.html">
      <img src="https://template-party.com/template/tp_yakuba1/tp_yakuba1_skyblue/images/logo.png" alt="東京九州市役所" class="pc-logo"><!--大きな端末用ロゴ-->
      <img src="https://template-party.com/template/tp_yakuba1/tp_yakuba1_skyblue/images/logo_s.png" alt="東京九州市役所" class="sh-logo"><!--小さな端末用ロゴ-->
    </a>
  </h1>
  <!--ヘッダー中央コンテンツ-->
  <div id="header-center">
    <p><a href="#"><img src="https://template-party.com/template/tp_yakuba1/tp_yakuba1_skyblue/images/banner_1.jpg"></a></p>
    <p><a href="#"><img src="https://template-party.com/template/tp_yakuba1/tp_yakuba1_skyblue/images/banner_2.jpg"></a></p>
  </div>
  <!--文字サイズ変更ボタン-->
  <div id="f-size">
    <p>文字サイズ</p>
    <ul>
      <li id="f-small"></li>
      <li id="f-large"></li>
    </ul>
  </div>
  <!--言語ボタン-->
  <ul id="lang">
    <li><a href="#">English</a></li>
    <li><a href="#">中文简体</a></li>
  </ul>
</header>
